<!DOCTYPE html>
<html>

    <head>
        <title>Flash Cards</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css"/>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <script src="js/lib/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/FlashCardController.js"></script>
        <script src="js/controllers/MainController.js"></script>
        <script src="js/controllers/StatsController.js"></script>
        <script src="js/factories/FlashCardsFactory.js"></script>
        <script src="js/factories/ScoreFactory.js"></script>
        <script src="js/filters/cheat-filter.js"></script>
        <script src="js/directives/loader/loader.js"></script>
        <script src="js/directives/flashcard/flashcard.js"></script>
        <script src="js/directives/hover/hoverjs"></script>
    </head>

    <body ng-app="FlashCards">

        <div ng-include="'templates/stats.html'">
        </div>

        <div ng-controller="MainController">
            <loader ng-show='loading'></loader>
            <div ng-hide='loading'>
                <button ng-click="getAllCards()" ng-class="{ active: chosenCategory === 'All' }">All Categories</button>

                <button
                        ng-repeat="category in categories"
                        ng-click="getCategoryCards(category)"
                        ng-class="{ active: chosenCategory === category }">
                    {{ category }}
                </button>

				<div class = "flash-card" ng-repeat="flashCard in flashCards | orderBy:'question'">
					<flash-card card="flashCard"></flash-card>
				</div>
                    
            </div>

        </div>

    </body>

</html>
